<div id="<%= dom_id ticket %>">
  <p>
    <strong>Titel:</strong>
    <%= ticket.title %>
  </p>  

  <p>
    <strong>Beschrijving:</strong>
    <%= ticket.content %>
  </p>

  <p>
    <strong>Gebruiker:</strong>
    <%= ticket.user.email %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= ticket.label %>
  </p>

  <div>
    <p><strong>Status:</strong>
    <%= ticket.status.humanize %> <span class="<%= "#{ticket.status.downcase}_status" %>">&#x2022;</span></p> 
  </div>

    <p>
    <strong>Priority:</strong>
    <%= ticket.priority.humanize %>
  </p>


</div>
