<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div>
  <%= link_to "Verander ticket", edit_ticket_path(@ticket) %> |
  <%= link_to "Terug naar alle tickets", tickets_path %>

  <%= button_to "Verwijder deze ticket", @ticket, method: :delete, class: "btn btn-danger" %>
</div>
